@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5em;
    flex-basis: 13%;
    row-gap: 1em;
    background-color: #028133;
    height: 100%;
}
.sidebar li a {
    color: #fff;
    text-decoration: none;
}
.logo-container {
    background-color: #fff;
    width: 100%;
}
.logo {
    width: 200px;
}
.sidebar-buttons-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    flex-grow: 1; /* Expande para preencher a altura */
}
li {
    list-style: none;
}
.right-side {
    display: flex;
    flex-basis: 87%;
    flex-direction: column;
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.73em;
    border-bottom: 1px solid;
}
.user-info-container {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    color: #fff;
    background: #333;
    padding: 0.4em 0.5em;
    border-radius: 50px;
}
.user-img {
    padding: 0.4em;
    background: #fff;
    border-radius: 50%;
}
main {
    flex-grow: 1; /* Expande o conteúdo principal */
    padding: 0.5em;
    height: 100%;
}
.main-title-container {
    display: flex;
    justify-content: space-between;
    /* background: #63c76a; */
    color: #333;
    padding: 0.5em;
    border-radius: 0.4em;
}.main-content {
    background-color: #E4E3E3;
    margin-top: 0.5em;
    border-radius: 0.4em;
    text-align: justify;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    padding: 4em 2em;
    row-gap: 1.2em;
}.field-components-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
}input, textarea {
    padding: 1em;
    border: none;
    border-radius: 0.3em;
}textarea {
    height: 10em;
    width: 90%;
    max-width: 100%;
    max-height: 10em;
    min-width: 100%;
    resize: none;

}.submit-button {
    background-color: #028133;
    padding: 1em 2em;
    border: none;
    border-radius: 0.4em;
    color: #fff;
    font-weight: bold;
}

select {
    padding: 10px;
    border: 2px solid #cfcfcf;
    border-radius: 8px;
    font-size: 16px;
}

.left-choose-docente-components {
    display: flex;
    justify-content: space-between;
    column-gap: 0.5em;
}
.docente-name-input {
    flex-basis: 100%;
}
.choose-docente-button {
    background: #fff;
    padding: 0.5em 1em;
    border: 2px solid #cfcfcf;
    cursor: pointer ;
}
.choose-docente-button:hover {
    color: #fff;    
}