  section{
        /* margin: -30px -10px; */
        /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #0077c197, #7ac5ca); */
        background: #0077c197 ;
        border-radius: 0.4em;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: #eaeaea;
   }
  .tbl-content{
    overflow-x:auto;
    margin-top: 0px;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
  }
  tbody > tr:hover {
    background-color: #63c76a;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.2em;
    justify-content: flex-end;
    margin-bottom: 0.5em
  }
  .action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.4em;
    width: fit-content;
    padding: 0.8em;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
  }
  .action-button:hover {
    box-shadow: 0 0 2px 1px #ffffff94;
  }
  .add-button {
    color: #333;
    background-color: #63c76a;
    font-weight: bold;
  }
  .edit-button {
    outline: 1px solid #0077c16b;
  }
  .add-icon {
    width: 1.5em;
  }
  .edit-icon {
    width: 1.5em;
  }
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }


.mini-column {
    width: 5em; /* Ajuste o valor conforme necessário */
    text-align: center; /* Centraliza o checkbox */
}
.delete-icon:hover{
    color: red;
}
.edit-icon {
    width: 1.3em;
}