<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/tableStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="module" src="../../public/js/CursoLista.js"></script>
    <title>Cursos | Lista</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <img class="logo" src="../../public/img/upm.png">
        </div>

        <div class="sidebar-buttons-container">
          <li><a href="./home.html">Home</a></li>
          <li><a href="./FaculdadeLista.html">Faculdades</a></li>
          <li><a href="./CursoLista.html">Cursos</a></li>
          <li><a href="TutorLista.html">Tutores</a></li>
          <li><a href="./TutoriaLista.html">Tutorias</a></li>
          <li><a href="./DisciplinaLista.html">Disciplinas</a></li>
          <li><a href="#">Testes</a></li>
          <li><a href="#">Relatorios</a></li>
      </div>
    </div>

    <div class="right-side">
        <header>
            <img src="../../public/img/hamburger-menu.png" alt="">
            <div class="user-info-container">
                <img class="user-img" src="../../public/img/user.png" alt="">
                <p>João Mateus</p>
            </div>
        </header>
        
        <main>
            <div class="main-title-container">
                <h1>Lista de Cursos</h1>
            </div>

            <div class="main-content">
              <div class="buttons-container">
                <button class="action-button add-button"><img class="add-icon" src="../../public/img/add.png" alt="">Novo Curso</button>
                <button class="action-button edit-button"><img class="edit-icon" src="../../public/img/pencil.png" alt="">Editar Curso</button>
              </div>
              <section>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th class="mini-column">&#10003;</th>
                        <th>Nome do Curso</th>
                        <th>Faculdade</th>
                        <th class="mini-column">-</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody class="js-table-body">
                        <!-- Conteudo gerado em CursoLista.js -->
                    </tbody>
                  </table>
                </div>
              </section>
            </div>
        </main>
    </div>
</body>
</html>
