<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/ListaFaculdades.css">
    <script type="module" src="../../public/js/DisciplinaLista.js"></script>
    <title>Lista | Disciplina</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-container">
            <img class="logo" src="../../public/img/upm.png">
        </div>

        <div class="sidebar-buttons-container">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./FaculdadeForm.html">Faculdades</a></li>
            <li><a href="./CursoForm.html">Cursos</a></li>
            <li><a href="TutorForm.html">Tutores</a></li>
            <li><a href="./TutoriaForm.html">Tutorias</a></li>
            <li><a href="#">Testes</a></li>
            <li><a href="#">Relatorios</a></li>
        </div>
    </div>

    <div class="right-side">
        <header>
            <img src="../../public/img/hamburger-menu.png" alt="">
            <div class="user-info-container">
                <img class="user-img" src="../../public/img/user.png" alt="">
                <p>João Mateus</p>
            </div>
        </header>
        
        <main>
            <div class="main-title-container">
                <h1>Lista de Faculdades</h1>
            </div>

            <div class="main-content">
                <section>
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>ID DA DISCIPLINA</th>
                            <th>Nome da Disciplina</th>
                            <th>Curso</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody class="js-table-body">
                            <!-- Conteudo gerado em DisciplinaLista.js -->
                        </tbody>
                      </table>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>